.large-12.columns
	%h1 Events
	%hr
	%table
		%th Event
		%th Description
		%th Event Date
		
		-@events.each do |f|
			
			%tr
				%td 
					=link_to "#{f.name}",  "/events/#{f.id}"
				%td 
					= f.description
				%td 
					= formatted_date(f.event_date)
	=button_to "Create Event", new_event_path , class: "button tiny"