%br
	
.row
	.large-4.columns
		%h1 Photos	
		%hr	


		%ul.orbit{"data-orbit" => ""}
			- @photos.each do |p|
				%li
					=image_tag p.image.url
					.orbit-caption
						=p.name
	.large-8.columns
		%h1 Events
		%hr
		%table
			%th Event
			%th Description
			%th Event Date
			
			-@events.each do |f|
				
				%tr
					%td 
						=link_to "#{f.name}",  "/events/#{f.id}"
					%td 
						= f.description
					%td 
						= formatted_date(f.event_date)
					
					


  