%br
.row
	.small-12

		- @photos.each do |p|
			%a.th{href: "/photos/#{p.id}"}
				=image_tag p.image.url, style: "height:auto; width:auto; max-width:300px; max-height:300px"


		%br
		%br
		=button_to "Add Photo", new_photo_path , class: "button tiny"